.feynman__link{
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: right;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}
.feynman__link:hover{
  opacity: 0.5;
}